/* ====== Styling for Main ====== */

/* Basic Style */
main {
  margin-top: 100px;
  padding: 5px 60px;
}

.title-wrap {
  padding-top: 80px;
}

.title {
  font-size: 35px;
  font-weight: 500;
  width: 475px;
}

.subtitle {
  font-weight: 400;
  width: 555px;
}

@media all and (max-width: 768px) {
  .title {
    font-size: 35px;
    width: 100%;
  }

  .subtitle {
    width: 100%;
  }
}

/* About Section */

.about article {
  margin: 20px 10px;
}

.about h1 {
  font-size: 50px;
  line-height: 1.3;
}

.about p {
  line-height: 1.7;
}

.btn-get-started {
  padding: 20px 60px;
  font-weight: 500;
  font-size: 1.2rem;
  background: #f53838;
  color: white;
  border-radius: 15px;
  box-shadow: 0px 20px 14px -10px rgba(245, 56, 56, 0.35);
}

.about .ilustration-1 {
  width: 100%;
  max-width: 611px;
  height: auto;
}

.about .get-started-wrap {
  padding-right: 30px;
  max-width: 600px;
}

.summary-item {
  display: flex;
  align-items: center;
}

/* Tablet Mode */
@media all and (max-width: 768px) {
  main {
    padding: 5px 40px;
  }

  .about {
    flex-wrap: wrap;
  }

  .about h1 {
    font-size: 40px;
  }

  .btn-get-started {
    padding: 20px 40px;
    font-size: 1.1rem;
  }

  .get-started-wrap {
    order: 1;
  }

  .summary {
    flex-wrap: wrap;
    /* justify-content: center; */
  }

  .summary-item {
    flex-direction: column;
    text-align: center;
  }

  .divider-vertical {
    display: none;
  }
}

/* Mobile Mode */
@media all and (max-width: 320px) {
  .about h1 {
    font-size: 30px;
  }

  .btn-get-started {
    padding: 10px 30px;
    font-size: 0.8rem;
  }
}

/* Features Section */

.our-features {
  display: flex;
  align-items: center;
}

.ilustration-2-wrap {
  width: 50%;
}

.feature-list-wrap {
  width: 50%;
  padding-left: 50px;
  padding-right: 60px;
}

.our-features .ilustration-2 {
  width: 100%;
  max-width: 508px;
  height: auto;
}

.our-features article {
  margin: 20px 10px;
}

.our-features h2 {
  font-size: 35px;
}

.our-features p {
  line-height: 1.6;
}

.features-list {
  list-style-type: none;
}

.features-list li {
  /* border: solid black 2px; */
  display: flex;
  margin: 15px 0px;
}

.features-list img {
  margin-right: 10px;
}

/* Tablet Mode */
@media all and (max-width: 768px) {
  .our-features {
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
  }

  .ilustration-2-wrap {
    width: 100%;
  }

  .feature-list-wrap {
    width: 100%;
    padding: 0;
  }
  .our-features h2 {
    font-size: 25px;
  }
}

/* Pricing Section */

.pricing-card {
  border: solid #dddddd 2px;
  border-radius: 10px;
  cursor: pointer;

  margin: 24px;
  padding: 40px 56px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-card:hover {
  box-shadow: 0px 0px 16px 12px rgba(221, 221, 221, 1);
}

.pricing-card-selected {
  border-color: #f53838;
}

.pricing-card-selected:hover {
  /* box-shadow: 0px 0px 32px 8px rgba(245, 56, 56, 1); */
  box-shadow: 0px 0px 16px 12px rgba(221, 221, 221, 1);
}

.pricing-image {
  margin-top: 16px;
  width: 144px;
  height: 165px;
}

.pricing-plan {
  margin: 24px;
  font-size: 18px;
}

.pricing-features {
  list-style-type: none;
  margin-bottom: 16px;
}

.pricing-features li {
  /* border: solid black 2px; */
  display: flex;
  margin: 15px 0px;
}

.pricing-features img {
  margin-right: 10px;
}

.btn-select {
  padding: 7px 70px;
  color: #f53855;
  border: solid #f53855 2px;
  border-radius: 20px;
}

.btn-selected {
  background: #f53838;
  color: white;
  box-shadow: 0px 20px 14px -10px rgba(245, 56, 56, 0.35);
}

.pricing-price {
  margin-top: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-price p {
  font-size: 25px;
  margin: 8px 0px;
}

/* Tablet Mode */
@media all and (max-width: 768px) {
  .pricing-list {
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
  }

  .pricing-card {
    margin: 24px 0px;
  }
}

/* Mobile Mode */
@media all and (max-width: 320px) {
  .pricing-card {
    padding: 40px 20px;
  }
}

/* Map Section */
.map-image-wrap img,
.sponsor-image-wrap img {
  width: 100%;
  max-width: 1060px;
  height: auto;
}

/* Testimonial Section */

.testimonial-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.testimonial-card {
  border: solid #dddddd 2px;
  padding: 32px;
  margin: 8px;
  width: 388px;
  border-radius: 10px;
}

.testimonial-card-info {
  display: flex;
  align-items: center;
}

.testimonial-card-info .country {
  color: #4f5665;
}

.testimonial-text {
  /* font-weight: bold; */
  line-height: 1.7;
}

/* Subscribe Section */

.section-subscribe-wrap {
  position: relative;
  top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 40px; */
  padding: 48px;
  background-color: #ffffff;
  /* border: solid #dddddd 2px; */
  /* box-shadow: 0px 7px 16px 7px rgba(221, 221, 221, 0.48); */
  /* border-radius: 10px; */
}

.input {
  font-size: 18px;
  padding: 8px 16px;
  border: solid #dddddd 2px;
  border-radius: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.btn-subscribe {
  padding: 12px 40px;
  margin-top: 16px;
  font-weight: 500;
  font-size: 1.2rem;
  background: #f53838;
  color: white;
  border-radius: 15px;
  box-shadow: 0px 20px 14px -10px rgba(245, 56, 56, 0.35);
}

.personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.personal-info img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: solid #dddddd 3px;
}

/* Tablet Mode */
@media all and (max-width: 768px) {
  .section-subcribe-wrap {
    padding: 0px;
  }

  .personal-info {
    margin-top: 32px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .personal-info article {
    align-items: flex-start;
  }

  .btn-subscribe {
    padding: 12px 32px;
    font-size: 1rem;
  }
}
